<extend name="Base/base" />
 <block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mcustomscrollbar_ac2fb8b_2.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout_19d0413_2.css" /> <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/widgets_ea16201_2.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.html_aio_57412b3.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.html_aio_a8e71c2.css"/>

    
	<!-- 地图 -->
    <link rel="stylesheet" href="__PUBLIC__/css/main1119.css"/>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=8246bcc06dd36922b8c12e21dea5e1c7"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <style type="text/css">
        #mapcontainer{
        width: 560px;
        height: 300px;
        /*border: 5px solid #D1D3D3;*/
        }
        #bt1,#clearMarker{
            width: 100px;
            height: 30px;
            line-height: 30px;
            background-color: #6CB9F2;
            font-size: 16px;
            color: #fff;
            float:left;
            margin-right:20px; 
            margin-bottom: 20px;
        }
    </style>
    </block>
    <block name="main">
    <input type="hidden" value="28417" id='companyId'>
    <div class="top_info">
        <div class="top_info_wrap">
            <img src="__PUBLIC__/Upload/com_logo/{$info.logo}" alt="{$info.com_name}"
            width="164" heihgt="164" />
            <div class="company_info">
                <div class="company_main">
                    <h1>
                        <a href="#" class="hovertips" target="_blank" rel="nofollow"
                        title="{$info.com_name}">
                            {$info.com_name}
                        </a>
                    </h1>
                    <a href="" class="icon-wrap" target="_blank" rel="nofollow"
                    title="">
                        <i>
                        </i>
                    </a>
                    <a class="identification" title="拉勾认证企业">
                        <i>
                        </i>
                        <span>
                            拉勾认证
                        </span>
                    </a>
                    <div class="company_word">
                        {$info.introduce}
                    </div>
                </div>
                <div class="company_data">
                    <ul>
                        <li>
                            <strong>
                                23个
                            </strong>
                            <br />
                            <span class="tipsys" original-title="该公司的在招职位数量">
                                <span>
                                    招聘职位
                                </span>
                                <span class="tip">
                                </span>
                            </span>
                        </li>
                        <li>
                            <strong>
                                90%
                            </strong>
                            <span class="tipsys" original-title="该公司所有职位收到的简历中，在投递后7天内处理完成的简历所占比例">
                                <span>
                                    简历及时处理率
                                </span>
                                <span class="tip">
                                </span>
                            </span>
                        </li>
                        <li>
                            <strong>
                                1天
                            </strong>
                            <br />
                            <span class="tipsys" original-title="该公司的所有职位管理者完成简历处理的平均用时">
                                <span>
                                    简历处理用时
                                </span>
                                <span class="tip">
                                </span>
                            </span>
                        </li>
                        <li id="mspj" style="cursor:pointer;">
                            <strong>
                                195个
                            </strong>
                            <br />
                            <span class="tipsys" original-title="该公司收到的面试评价数量">
                                <span>
                                    面试评价
                                </span>
                                <span class="tip">
                                </span>
                            </span>
                        </li>
                        <li>
                            <strong>
                                今天
                            </strong>
                            <br />
                            <span class="tipsys" original-title="该公司职位管理者最近一次登录时间">
                                <span>
                                    企业最近登录
                                </span>
                                <span class="tip">
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- @require "company-c/modules/common/main.less" @require "company-c/modules/tabs/main.less"
    -->
    <div id="company_navs" class="company_navs">
        <div class="company_navs_wrap">
            <ul data-pjax>
                <li class="current">
                    <a onclick="index()">
                        公司主页
                    </a>
                </li>
                <li>
                    <a href="__URL__/list" data-lg-tj-id="9100" data-lg-tj-no="0002"
                    data-lg-tj-cid="idnull">
                        招聘职位
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="company_navs_shadow">
    </div>
    <div id="main_container">
        <div id="container_left" style="display: block;">
            <div id="containerCompanyDetails">
                <div class="item_container" id="company_intro">
                    <div class="item_ltitle">
                        公司介绍
                    </div>
                    <div class="item_content">
                        <div class="company_intro_text" style="display: block">
                           {$info.describe}
                            <span class="text_over">
                                展开
                            </span>
                        </div>
                    </div>
                </div>
               
                <div class="address_container item_container" id="location_container">
                    <div class="item_ltitle">
                        公司位置
                    </div>

                        <div class="item_content">
                            <div class="amap-maps">
                            <div id="mapcontainer"></div>
                            <div id="tip"style="display: none;"></div>
                        </div>
                   
                    </div>

                </div>
            </div>
        </div>


        <div id="container_left" style="display: none;">
            <div id="containerCompanyDetails">
                <!-- @require "company-c/modules/common/main.less" @require "company-c/modules/positions/main.less" -->
                <div class="posfilterlist_container item_container" data-lg-tj-track-code="hpage_indexlist" id="posfilterlist_container">
                    <div class="item_ltitle">近两月共有
                        <span class="list_total">{$total}</span>个在招职位</div>
                    <div class="item_content">
                        
                        <div class="item_con_list_container">
                            <div class="list-content">
                                <ul class="item_con_list">
                                <foreach name="voa" item="li">
                                    <li class="con_list_item default_list" >
                                        <div class="item_title_date">
                                            <a href="__MODULE__/Index/recruit?id={$li.id}" target="_blank" class="item_title position_link">{$li.name} [ {$li.city} ]</a>
                                            <span class="item_date">{$li.addtime} 发布</span></div>
                                        <p class="item_detail">
                                            <span class="item_salary">{$li.wages.0}k-{$li.wages.1}k</span>
                                            <span class="item_desc">{$li.expe} / {$li.degree} / {$prop[$li[prop]]}</span></p>
                                        <i class="left_border"></i>
                                    </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div id="container_right">
            <!-- @require "company-c/modules/common/main.less" @require "company-c/modules/basic-info/main.less"
            -->
            <div class="item_container" id="basic_container">
                <div class="item_ltitle">
                    公司基本信息
                </div>
                <div class="item_content">
                    <ul>
                        <li>
                            <i class="type">
                            </i>
                            <span>
                                {$about.1.name},{$about.0.name}
                            </span>
                        </li>
                        <li>
                            <i class="process">
                            </i>
                            <span>
                                {$phase.name}
                            </span>
                        </li>
                        <li>
                            <i class="number">
                            </i>
                            <span>
                                {$s}
                            </span>
                        </li>
                        <li>
                            <i class="address">
                            </i>
                            <span>
                                {$info.address}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- @require "company-c/modules/common/main.less" @require "company-c/modules/managers/main.less"
            -->
            <div class="company_managers item_container" id="company_managers">
                <div class="item_ltitle">
                    管理团队
                </div>
                <div class="company_mangers_item">
                    <div class="managelist_wrap">
                        <ul class="manager_list">
                            <li class="item_has rotate_item  rotate_active ">
                                <img class="item_manger_photo_show" src="__PUBLIC__/Upload/fon_img/{$info.fon_img}"
                                alt="创始人头像" width="118" height="118" />
                                <p class="item_manager_name">
                                    <span>
                                        {$info.founder}
                                    </span>
                                </p>
                                <p class="item_manager_title">
                                    {$info.fon_position}
                                </p>
                            </li>
                        </ul>
                    </div>
                   
                </div>
            </div>
            <!-- @require "company-c/modules/common/main.less" @require "company-c/modules/tags/main.less"
            -->
            <div class="tags_container item_container" id="tags_container">
                <div class="item_ltitle">
                    公司标签
                </div>
                <div class="tags_warp">
                    <div class="item_content">
                        <ul class="item_con_ul clearfix">
                           
                           <foreach name="tag" item="vo">
                                <li class="con_ul_li">
                                    {$vo}
                                </li>
                           </foreach> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
 <script type="text/javascript">
    //实例化地图
    var geolocation;
    var clickListener, map = new AMap.Map('mapcontainer', {
        resizeEnable: true,
        center: [{$address.mapaddress}],
        zoom:18
    });  
        // 设置缩放级别和中心点
        map.setZoomAndCenter(17, [{$address.mapaddress}]);
        // 在新中心点添加 marker 
        var marker = new AMap.Marker({
            map: map,
            position: [{$address.mapaddress}]
        });
        var info = [];
        info.push("地址 :"+'{$address.address}');
        infoWindow = new AMap.InfoWindow({
            content: info.join("<br/>")  //使用默认信息窗体框样式，显示信息内容
        });
        infoWindow.open(map,[{$address.mapaddress}]);

   // var  marker;
    var bind = function() {

        remove(); //防止重复绑定
        clickListener = AMap.event.addListener(map, "click", function(e) {
            marker = new AMap.Marker({
                position: e.lnglat,
                map: map
            });
            var y = e.lnglat.getLng();
            var x = e.lnglat.getLat();
            center= [y,x];
            AMap.event.removeListener(clickListener);//移除事件，以绑定时返回的对象作为参数
            document.getElementById('clearMarker').style.display="block";
            openInfo();
        });
    };
    //bt2的click的绑定事件
    var remove = function() {
        if (clickListener) {
            AMap.event.removeListener(clickListener);//移除事件，以绑定时返回的对象作为参数
        }
    }; 

        var button1 = document.getElementById('bt1');
        var listener1 = AMap.event.addDomListener(button1, 'click', bind);//给div绑定单击事件  
        AMap.event.addDomListener(document.getElementById('clearMarker'), 'click', function() {
          //删除点标记
        map.remove(marker); 
        // 关闭信息窗体
        infoWindow.close();
        // 绑定点击事件
        button1.click();
    }, false);
    //打开信息窗体
     function openInfo() {
        // s_province s_city  s_county
        $address = $("#s_province").val()+$("#s_city").val()+$("#s_county").val()+$("#mapaddress").val();
        //构建信息窗体中显示的内容
        var info = [];
        info.push("地址 :"+$address);
        infoWindow = new AMap.InfoWindow({
            content: info.join("<br/>")  //使用默认信息窗体框样式，显示信息内容
        });
        infoWindow.open(map,center);
    }  
</script>
</block>       