<extend name="Base/base"/>
<block name="main">

	<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            网站后台首页
            <small>首页</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">欢迎页</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

         
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
              <!-- Custom tabs (Charts with tabs)-->
   
            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

              <!-- /.box -->

            </section><!-- right col -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->

</block>