<extend name="Base/base"/>
<block name="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-calendar"></i>
			个人会员信息管理
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">类别个人会员管理</a></li>
            <li class="active">添加个人会员信息</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- right column -->
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"><i class="fa fa-plus"></i> 添加个人会员信息</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="__CONTROLLER__/update" method="post" enctype="multipart/form-data" >
                  <input type="hidden" name="id" value="{$list.id}">
				  <div class="box-body">
					<div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">修改头像</label>
                      <div class="col-sm-4">
						<img type="hidden" src="__PUBLIC__/admin/dist/img/s_{$list['picname']}"/>
                        <input type="file" multiple name="picname" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                      <div class="col-sm-4">
                        <input type="text" name="username" class="form-control" id="inputEmail3" placeholder="Email" value="{$list.username}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                      <div class="col-sm-4">
                        <input type="password"  name="password" value="{$list.password}" class="form-control" id="inputPassword3" placeholder="Password">
                      </div>
                    </div>
					<div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">邮件</label>
                      <div class="col-sm-4">
                        <input type="email" name="email" value="{$list.email}" class="form-control" id="inputPassword3" placeholder="Password">
                      </div>
                    </div>
					<div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">电话</label>
                      <div class="col-sm-4">
                        <input type="text" name="phone" value="{$list.phone}" class="form-control" id="inputPassword3" placeholder="Password">
                      </div>
                    </div>
					<div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">城市</label>
                      <div class="col-sm-4">
                        <input type="text" name="city" value="{$list.city}" class="form-control" id="inputPassword3" placeholder="Password">
                      </div>
                    </div>
					<div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">身份</label>
                      <div class="col-sm-4">
                        <input type="radio" name="state" value="0" <eq name="list.state" value='0'>checked</eq>/>超级会员
                        <input type="radio" name="state" value="1" <eq name="list.state" value='1'>checked</eq>/>会员
                      </div>
                    </div>
                   
					
                  </div><!-- /.box-body -->
                  <div class="box-footer">
				    <div class="col-sm-offset-2 col-sm-1">
						<button type="submit" class="btn btn-primary">修改</button>
                    </div>
					<div class="col-sm-1">
						<button type="reset" class="btn btn-primary">重置</button>
					</div>
                  </div><!-- /.box-footer -->
                </form>
				<div class="row"><div class="col-sm-12">&nbsp;</div></div>
              </div><!-- /.box -->
       
            </div><!--/.col (right) -->
          </div>   <!-- /.row -->
        </section><!-- /.content -->
 </block>   
