<extend name="Base/base"/>
<block name="main">

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mcustomscrollbar_ac2fb8b_1.css"
        />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout_19d0413_1.css"
        />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/widgets_ea16201_1.css"
        />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.html_aio_6db9f81.css"
        />
        <!--end #header-->
        <input type="hidden" id="serverTime" value="1488331365707" />
        <!-- 顶部banner -->
        <!--[if lt IE 9]>
            <style type="text/css">
                .panel .panel_cont .panel_det{filter:alpha(opacity=0)}.panel .panel_cont
                .panel_det .go_btn{filter:alpha(opacity=0)}.panel.hover .panel_cont{filter:alpha(opacity=95)}.panel.hover
                .panel_cont .panel_det{filter:alpha(opacity=100)}.panel.hover .panel_cont
                .panel_det .go_btn{filter:alpha(opacity=100)}
            </style>
        <![endif]-->
        <div id="banner" class="company_banner" data-lg-tj-track-code="gongsi_banner"
        data-lg-tj-track-type="1">
            <div class="banner_bg">
                <img src="__PUBLIC__/picture/cgp3o1iq07carchgaadvkjlyjbo764.jpg" width="100%" height="389">
            </div>
            <div class="banner_content">
                <h3>
                    什么值得投
                </h3>
                <div id="it_content" class="it_content">
                    <div class="prev">
                        上一页
                    </div>
                    <div class="next">
                        下一页
                    </div>
		
			<div class="it_list">
			<ul class="panel_list">
				<li>
					<div class="panel">
						<img src="__PUBLIC__/picture/cgp3o1gyw_iao4jhaaaurrs3eoy463.jpg" alt="多快好省logo" width="142"
						height="142" data-src="__PUBLIC__/picture/cgp3o1gyw_iao4jhaaaurrs3eoy463.jpg" />
						<p class="panel_b">
							年轻的团队，优渥的待遇
						</p>
						<div class="panel_cont">
							<div class="panel_det">
								<p>
									心有猛虎，一只高效的互联网金融创新团队。
								</p>
								<div>
									<a class="go_btn tj_exposure" href="#"
									target="_blank" data-lg-tj-id="7y00" data-lg-tj-no="
									0001
									" data-lg-tj-cid="21758">
										进入公司主页
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="time">
						02/28
						<span class="bottom_bg ">
						</span>
						<span class="bottom_bg first">
						</span>
					</div>
				</li>
				<li>
					<div class="panel">
						<img src="__PUBLIC__/picture/cgo8pftuv_sasxojaacx7sthjma601.jpg" alt="环球网logo" width="142"
						height="142" data-src="__PUBLIC__/picture/cgo8pftuv_sasxojaacx7sthjma601.jpg" />
						<p class="panel_b">
							最具海外影响力的双语新闻门户
						</p>
						<div class="panel_cont">
							<div class="panel_det">
								<p>
									一家由人民网和环球时报社共同投资成立的中央级重点新闻网站
								</p>
								<div>
									<a class="go_btn tj_exposure" href="//www.lagou.com/gongsi/97.html" target="_blank"
									data-lg-tj-id="7y00" data-lg-tj-no="
									0002
									" data-lg-tj-cid="97">
										进入公司主页
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="time">
						02/27
						<span class="bottom_bg ">
						</span>
					</div>
				</li>
				<li>
					<div class="panel">
						<img src="__PUBLIC__/picture/cgp3o1yogqqadqmfaaaxxz4ixd4581.png" alt="花礼网logo" width="142"
						height="142" data-src="__PUBLIC__/picture/cgp3o1yogqqadqmfaaaxxz4ixd4581.png" />
						<p class="panel_b">
							中国电子商务鲜花礼品行业龙头企业
						</p>
						<div class="panel_cont">
							<div class="panel_det">
								<p>
									9年鲜花速递品牌，全国连锁经营，鲜花蛋糕等礼品3小时送达全国900多个城市。
								</p>
								<div>
									<a class="go_btn tj_exposure" href="//www.lagou.com/gongsi/30100.html"
									target="_blank" data-lg-tj-id="7y00" data-lg-tj-no="
									0003
									" data-lg-tj-cid="30100">
										进入公司主页
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="time">
						02/27
						<span class="bottom_bg ">
						</span>
					</div>
				</li>
				<li>
					<div class="panel">
						<img src="__PUBLIC__/picture/cgyxblu5ta-aldojaabu61xxvko429.png" alt="新联在线logo" width="142"
						height="142" data-src="__PUBLIC__/picture/cgyxblu5ta-aldojaabu61xxvko429.png" />
						<p class="panel_b">
							金融与网络完美结合，让您轻松理财
						</p>
						<div class="panel_cont">
							<div class="panel_det">
								<p>
									由来自新加坡和中国的金融领域及互联网专业团队共同打造的全球化互联网金融理财平台
								</p>
								<div>
									<a class="go_btn tj_exposure" href="//www.lagou.com/gongsi/43939.html"
									target="_blank" data-lg-tj-id="7y00" data-lg-tj-no="
									0004
									" data-lg-tj-cid="43939">
										进入公司主页
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="time">
						02/24
						<span class="bottom_bg ">
						</span>
					</div>
				</li>
				<li>
					<div class="panel">
						<img src="__PUBLIC__/picture/22.png" alt="宗盛智能logo" width="142"
						height="142" />
						
						<p class="panel_b">
							构建全国性的智能化零售终端网络。
						</p>
						<div class="panel_cont">
							<div class="panel_det">
								<p>
									公司以娃哈哈体系的支持为起点和依托，在新的维度上叠加创造新的价值体系。
								</p>
								<div>
									<a class="go_btn tj_exposure" href="//www.lagou.com/gongsi/136244.html"
									target="_blank" data-lg-tj-id="7y00" data-lg-tj-no="
									0006
									" data-lg-tj-cid="136244">
										进入公司主页
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="time">
						02/22
						<span class="bottom_bg ">
						</span>
					</div>
				</li>
				
			</ul>
		</div>
    </div>
    </div>
</div>
        <!-- 页面主体START -->
        <div id="content-container">
            <div id="company_list_container">
                <!-- 左侧 -->
                <div class="content_left">
                    <!-- 依次填入左侧各个模块 -->
                    <div id="positionHead">
                        <!-- 筛选 -->
                        <ul id="filterBox" class="filter-wrapper">
                            <div class="details" id="filterCollapse">
                                <div class="has-more workcity">
                                    <li>
                                        <span class="title">
                                            公司地点：
                                        </span>
                                        <div class="city-wrapper clearfix">
										<foreach name="addr" item="vo">
                                            <a data-id="0" href="javascript:searchaddr('{$vo.name}');"  data-lg-tj-id="7z00"data-lg-tj-no="0001" data-lg-tj-cid="idnull">
                                                {$vo.name}
                                            </a>
                                        </foreach>   
                                    </li>   
                                    </div>
                                </div>
                                <li class="multi-chosen financeStage">
                                    <span class="title">
                                        融资阶段：
                                    </span>
                                    
                                    <foreach name="money" item="money">
										<a href="javascript:searchmoney('{$money.name}');" rel="nofollow" data-lg-tj-id="8t00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">
											{$money.name}
										</a>
									</foreach>
                                </li>
                                <div class="has-more industry">
                                    <li style="border-bottom:none;" class="multi-chosen">
                                        <span class="title">
                                            行业领域：
                                        </span>
                                        
                                        <foreach name="hy" item="hy">
											<a href="javascript:searchhy('{$hy.name}');" rel="nofollow" data-lg-tj-id="8t00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">
												{$hy.name}
											</a>
										</foreach>
                                    </li>
                                    
                                </div>
                            </div>
                        </ul>
                        <!-- 排序 -->
                        <ul class="sub_filter" id="order">
                            <li class="wrapper">
                                <div class="item order">
                                    <span class="title">
                                        排序方式：
                                    </span>
                                    <a href="javascript:;" class="active" data-lg-tj-id="7G00" data-lg-tj-no="0001"
                                    data-lg-tj-cid="">
                                        默认排序
                                    </a>
                                    <a href="javascript:;" data-lg-tj-id="7H00" data-lg-tj-no="0002" data-lg-tj-cid="">
                                        职位数量 &darr;
                                    </a>
                                    <a href="javascript:;" data-lg-tj-id="8O00" data-lg-tj-no="0002" data-lg-tj-cid="">
                                        面试评价数 &darr;
                                    </a>
                                    <a href="javascript:;" data-lg-tj-id="9O00" data-lg-tj-no="0002" data-lg-tj-cid="">
                                        简历处理率 &darr;
                                    </a>
                                </div>
                                <div class="interval_assess item page">
                                    <span class="icon">
                                    </span>
                                    有面试评价
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- 分站城市 -->
                    <!-- 公司列表 -->
                    <div id="company_list" data-lg-tj-track-code="gongsi_list">
                        <ul class="item_con_list">
						<foreach name="com_info" item="vo">
                            <li class="fl" style="margin:30px 0 0 10px;">
                                <dl class="item_cont">
                                    <dt class="fl">
                                        <a href="#" target="_blank" data-lg-tj-id="8100"
                                        data-lg-tj-no="
                                        0101
                                        " data-lg-tj-cid="35666">
                                            <img class="lazy_img" src="__PUBLIC__/Upload/com_logo/{$vo.logo}" alt="公司logo"width="130" height="130" data-src="#">
                                        </a>
                                    </dt>
                                    <dd class="fr">
                                        <h3>
                                            <a class="item_title tj_exposure" href="__MODULE__/ComIndex/index?uid={$vo.uid}"
                                            target="_blank" title="{$vo.com_name}" data-lg-tj-id="8200" data-lg-tj-no="
                                            0101
                                            " data-lg-tj-cid="35666">
                                                {$vo.com_name}
                                            </a>
                                        </h3>
                                        <div class="sub_title">
                                            <p>
                                                <a href="#"
                                                target="_blank" data-lg-tj-id="8300" data-lg-tj-no="
                                                0101
                                                " data-lg-tj-cid="35666">
                                                    <span>
                                                        62
                                                    </span>
                                                    条面试评价
                                                </a>
                                            </p>
                                            <p>
                                                <a href="#l" target="_blank" data-lg-tj-id="8400"
                                                data-lg-tj-no="
                                                0101
                                                " data-lg-tj-cid="35666">
                                                    <span>
                                                        2
                                                    </span>
                                                    个在招职位
                                                </a>
                                            </p>
                                            <p>
                                                <a href="#" target="_blank" data-lg-tj-id="8N00"
                                                data-lg-tj-no="
                                                0101
                                                " data-lg-tj-cid="35666">
                                                    <span>
                                                        87%
                                                    </span>
                                                    简历处理率
                                                </a>
                                            </p>
                                        </div>
                                    </dd>
                                    <p class="details" title="{$vo.introduce}">
                                        {$vo.introduce}
                                    </p>
                                </dl>
                                <div class="company_state">
                                    <span class="fl web" title="{$vo.about}">
                                        <i>
                                        </i>
                                        {$vo.about}
                                    </span>
                                    <span class="fr place" title="{$vo.address}">
                                        <i>
                                        </i>
                                        {$vo.address}
                                    </span>
                                    <span class="type" title="成长型(A轮)">
                                        <i>
                                        </i>
                                       {$vo.phase}
                                    </span>
                                </div>
                            </li>
                        </foreach>   
                    </ul>
				<!-- 分页 -->
				<div class="item_con_pager">
				</div>
			</div>
			
			<form class="searchform" name="myform1" action="__CONTROLLER__/lists" method="get">
						<!-- 保持条件 -->
					 	<notempty name="addr1">
							<input type='hidden' name='addr' value="{$addr1}"/>
					 	</notempty>
					 	<notempty name="exper1">
							<input type='hidden' name='exper' value="{$exper1}"/>
					 	</notempty>
						<notempty name="major1">
							<input type='hidden' name='major' value="{$major1}"/>
					 	</notempty>
						<notempty name="money1">
							<input type='hidden' name='money' value="{$money1}"/>
					 	</notempty>
						<notempty name="hy1">
							<input type='hidden' name='hy' value="{$hy1}"/>
					 	</notempty>
			</form>
<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
<script id="tpl-company-list" type="text/javascript">
	function searchaddr(a){
		//alert(a);
		var b = $(".searchform input[name='addr']").val();
		if (typeof(b) == "undefined"){
			$(".searchform").append("<input type='hidden' name='addr' value='"+a+"'/>");
		}else{
			$(".searchform input[name='addr']").replaceWith("<input type='hidden' name='addr' value='"+a+"'/>");  
		}
		$(".searchform").submit();
		// $(".item"+value).addClass(" filter-active-all-ab ");
		
	}
		function searchexper(a){
		var b = $(".searchform input[name='exper']").val();
		if (typeof(b) == "undefined"){
			$(".searchform").append("<input type='hidden' name='exper' value='"+a+"'/>");
		}else{
			$(".searchform input[name='exper']").replaceWith("<input type='hidden' name='exper' value='"+a+"'/>");  
		}
		$(".searchform").submit();
		// $(".item"+value).addClass(" filter-active-all-ab ");
		
	}
		function searchmajor(a){
		var b = $(".searchform input[name='major']").val();
		if (typeof(b) == "undefined"){
			$(".searchform").append("<input type='hidden' name='major' value='"+a+"'/>");
		}else{
			$(".searchform input[name='major']").replaceWith("<input type='hidden' name='major' value='"+a+"'/>");  
		}
		$(".searchform").submit();
		// $(".item"+value).addClass(" filter-active-all-ab ");
		
	}
	function searchmoney(a){
		var b = $(".searchform input[name='money']").val();
		if (typeof(b) == "undefined"){
			$(".searchform").append("<input type='hidden' name='money' value='"+a+"'/>");
		}else{
			$(".searchform input[name='money']").replaceWith("<input type='hidden' name='money' value='"+a+"'/>");  
		}
		$(".searchform").submit();
		// $(".item"+value).addClass(" filter-active-all-ab ");
		
	}
	function searchhy(a){
		var b = $(".searchform input[name='hy']").val();
		if (typeof(b) == "undefined"){
			$(".searchform").append("<input type='hidden' name='hy' value='"+a+"'/>");
		}else{
			$(".searchform input[name='hy']").replaceWith("<input type='hidden' name='hy' value='"+a+"'/>");  
		}
		$(".searchform").submit();
		// $(".item"+value).addClass(" filter-active-all-ab ");
		
	}
</script>
	<script id="empty-list" type="text/html">
	< div class = "empty_position" > <div class = "pic" > </div>
	<div class="txt">
        <div>暂时没有符合该筛选条件的公司</div > <span > 请重新修改筛选条件再进行筛选 < /span>
        </div> </div>

        </script>
                </div>
                <!-- 右侧 -->
                <!-- 依次填入右侧各个模块 -->
                <div class="content_right">
                    <!-- 右侧推荐公司 -->
                    <div id="sideBar" class="sideBar" data-lg-tj-track-code="gongsi_logo"
                    data-lg-tj-track-type="1">
                    </div>
                </div>
            </div>
        </div>
        <!-- 页面主体END -->
        <!-- footer -->
	
</block>