<extend name="Base/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mcustomscrollbar_ac2fb8b_6.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout_19d0413_6.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/widgets_ea16201_6.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.html_aio_48273fc_2.css"/>
    <style type="text/css">
        .d_resume a{
            font-size:16px;
            color: #0D9572;
        }
        .d_resume a:hover{
            color:#666;
        }
        #pickdate,#picktime{            
            width: 150px;
        }
        .face{
            display: block;
        }
        .display{
                display: none;

        }
    </style>
</block>
<block name="main">
        <!--end #header-->
        <input type="hidden" id="serverTime" value="1488334015093" />
        <!-- 页面主体START -->
        <div id="container">
            <div class="clearfix">
                <div class="new_section fl">
                    <dl class="c_delivery">
                        <dt>
                            <h1>
                                <em>
                                </em>
                                收到的简历
                            </h1>
                            
                            <a href="javascript:;" class="d_refresh">
                                刷新
                            </a>
                        </dt>
                        <dd>
                            <div class="delivery_tabs">
                                <ul class="reset">
                                    <li class="current">
                                        <a href="#" class="all_border">
                                            全部
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            待处理
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            已查看
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            待定简历
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            邀请面试
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="#">
                                            不合适
                                        </a>
                                    </li>
                                </ul>
                            </div>
                                <ul class="reset my_delivery">
                                    <foreach name="data" item="vo">
                                    <li data-id="836757548049809408" class="open">
                                        <input type="hidden" id="open" />
                                        <div><img src="__PUBLIC__/Upload/headimg/{$vo.head_img_name}" alt="" style="width: 135px;height: 135px;float: left;"></div>
                                        <div class="d_item">
                                            <h2 title="{$vo.nickname}">
                                                <a href="__URL__/preview?id={$vo.resume_id}&did={$vo.id}" data-index=0 target="_blank"
                                                title="{$vo.nickname}">
                                                    <em>
                                                        {$vo.nickname}的简历
                                                    </em>
                                                    <span>
                                                        {$vo.expected_salary}
                                                    </span>
                                                    <!-- -->
                                                </a>
                                            </h2>
                                            <div class="clear">
                                            </div>
                                            <a href="__URL__/preview?id={$vo.resume_id}&did={$vo.id}" target="_blank" class="d_jobname"
                                            title="info">
                                                 {$vo.sex} / {$vo.grad_degree} / 3年 
                                                <span>
                                                    [{$vo.expected_city}]
                                                </span>

                                            </a>
                                            <a href="__MODULE__/Index/recruit?id={$vo.post_id}" target="_blank" class="d_jobname">
                                                应聘职位：{$vo.jobs}
                                            </a>
                                            <div class="d_resume">
                                                <a  class="facebut" onclick="aaa({$vo.id},'face')"> 邀请面试</a>|
                                                <a class="nobut" onclick="aaa({$vo.id},'no')"> 不合适</a>|
                                                <a class="waitbut" onclick="aaa({$vo.id},'wait')"> 待定</a>
                                            </div>
                                            <a href="javascript:;" class="btn_showprogress">
                                                <span id="showbut" onclick="aaa({$vo.id},'show')">
                                                    {$info[$vo['state']]}
                                                </span>

                                            </a>
                                            <span class="d_time">
                                                {$vo.time1|date="Y-m-d H:i:s",###}
                                            </span>
                                        </div>
                                        <div class="progress_status	dn show{$vo.id}" style="display: none" s="false">
                                            <ul class="status_list">
                                            
                                            <!-- 不合适 -->
                                            <switch name="vo.state">
                                            <case value="5">
                                                <ul class="status_list" data-id="841580434993766400">
                                                <li class="top">
                                                    <div class="list_time">
                                                        <em>
                                                        </em>
                                                       {$vo.time5|date="Y-m-d H:i:s",###}
                                                    </div>
                                                    <div class="list_body">
                                                        <!-- 1.如果是通知面试，无举报入口 -->
                                                        <h3 class="contact_title" style="position:relative;z-index:2;left:1px;top:-1px;display:inline-block;">
                                                            简历被标记为不合适
                                                        </h3>
                                                        <div>
                                                           {$vo.reason}
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li>
                                                        <div class="list_time">
                                                            <em></em>{$vo.time2|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <h3 class="contact_title">hr&nbsp;查看了你的简历</h3></div>
                                                    </li>
                                                    <li class="bottom">
                                                        <div class="list_time">
                                                            <em></em>{$vo.time1|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <h3 class="contact_title">hr&nbsp;已成功接收你的简历</h3></div>
                                                    </li>
                                                </ul>
                                                </case>
                                                <case value="4">
                                                    <!-- 待沟通 -->
                                                    <ul class="status_list" data-id="840040679346393088">
                                                        <li>
                                                            <div class="list_time">
                                                       
                                                                <em></em>
                                                                    {$vo.time4|date="Y-m-d H:i:s",###}
                                                                </div>
                                                            <div class="list_body">
                                                                <!-- 1.如果是通知面试，无举报入口 -->
                                                                <h3 class="contact_title">你的简历已经通过初筛，企业可能会在近期与你沟通，请保持联系方式畅通
                                                                    <a href="javascript:;" class="checkCommunication" data-id="840129650932703232" style="font-size:12px;">
                                                                        </a>
                                                                </h3>
                                                            </div>
                                                        </li>
                                                        <li>
                                                        <div class="list_time">
                                                            <em></em>{$vo.time2|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <h3 class="contact_title">hr&nbsp;查看了你的简历</h3></div>
                                                    </li>
                                                    <li class="bottom">
                                                        <div class="list_time">
                                                            <em></em>{$vo.time1|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <h3 class="contact_title">hr&nbsp;已成功接收你的简历</h3></div>
                                                    </li>
                                                    </ul>
                                                </case>
                                                <!-- 面试邀请 -->
                                                <case value="3">
                                                <ul class="status_list" data-id="840040904909131776">
                                                    <li class="top">
                                                        <div class="list_time">
                                                            <em></em>{$vo.time3|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <h3>hr给你发来面试邀请</h3>
                                                            <div class="check_content" style="margin-top:-10px;margin-left:1px">
                                                                <div>面试时间：
                                                                    <span>{$vo.face_time}</span></div>
                                                                <div>联系人：
                                                                    <span>{$vo.linkman}</span></div>
                                                                <div>联系电话：
                                                                    <span>{$vo.phone}</span></div>
                                                                <div>面试地点：
                                                                    <span>{$vo.face_address}</span></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="list_time">
                                                            <em></em>{$vo.time4|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <!-- 1.如果是通知面试，无举报入口 -->
                                                            <h3 class="contact_title">你的简历已经通过初筛，企业可能会在近期与你沟通，请保持联系方式畅通
                                                            </h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="list_time">
                                                            <em></em>{$vo.time2|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <h3 class="contact_title">hr&nbsp;查看了你的简历</h3></div>
                                                    </li>
                                                    <li class="bottom">
                                                        <div class="list_time">
                                                            <em></em>{$vo.time1|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <h3 class="contact_title">hr&nbsp;已成功接收你的简历</h3></div>
                                                    </li>
                                                </ul>
                                                </case>
                                                <!-- 查看简历 -->
                                                <case value="2">
                                                    <ul class="status_list" data-id="840040679346393088">
                                                        <li class="top">
                                                            <div class="list_time">
                                                                <em></em>{$vo.time2|date="Y-m-d H:i:s",###}</div>
                                                            <div class="list_body">
                                                                <!-- 1.如果是通知面试，无举报入口 -->
                                                                <h3 class="contact_title">lemuoffer&nbsp;查看了你的简历</h3></div>
                                                        </li>
                                                        <li class="bottom">
                                                            <div class="list_time">
                                                                <em></em>{$vo.time1|date="Y-m-d H:i:s",###}</div>
                                                            <div class="list_body">
                                                                <!-- 1.如果是通知面试，无举报入口 -->
                                                                <h3 class="contact_title">lemuoffer&nbsp;已成功接收你的简历</h3></div>
                                                        </li>
                                                    </ul>
                                                </case>
                                                <case value="1">
                                                <ul class="status_list" data-id="841580434993766400">
                                                    <li class="top1">
                                                        <div class="list_time">
                                                            <em></em>{$vo.time1|date="Y-m-d H:i:s",###}</div>
                                                        <div class="list_body">
                                                            <!-- 1.如果是通知面试，无举报入口 -->
                                                            <h3 class="contact_title">wangyanli&nbsp;已成功接收你的简历</h3></div>
                                                    </li>
                                                </ul>
                                                </case>
                                                 <default />
                                                </switch>
                                            <!--  -->
                                        </div> 
                                        <!-- 邀请面试 -->
                                        <div class="progress_status dn face{$vo.id}"style="display: none" s="false"> 
                                        <form id="formface{$vo.id}">
                                             <div class="list_body">
                                                <h3 class="contact_title">
                                                    面试日期：<input type="text" class="input"value="" name="date" style="width: 150px"/>时间：
                                                <input type="text" class="input"  name="time"style="width: 150px"/></br>
                                                </h3>
                                                联  系  人：<input type="text"  class="input" name="linkman" style="width: 150px"></br>
                                                联系电话：<input type="text"   class="input" name="phone" style="width: 150px"></br>
                                                面试地点：<input type="text"  class="input" name="face_address"style="width: 400px ;font-size: 14px;" value="{$vo.face_address}">
                                                    <input type="hidden" value="{$vo.id}" name="id">

                                                <input type="button" value="确认"  onclick="doface({$vo.id})" style="font-size: 14px;background-color: #0D9572;color: #fff;width: 60px;height: 28px">
                                                
                                            </div>
                                        </form>
                                        </div>
                                        <!-- 不合适 -->
                                        <div class="progress_status dn no{$vo.id}" style="display: none" s="false"> 
                                        <form id="noform{$vo.id}">
                                             <div class="list_body">
                                                
                                                <h3>不合适理由：(选填)</h3>
                                                <textarea name="no" cols="80" rows="10"></textarea></br></br>
                                                <input type="button" value="确认"onclick="dono({$vo.id})" style="font-size: 14px;background-color: #0D9572;color: #fff;width: 60px;height: 28px;float: right;">
                                                <input type="hidden" value="{$vo.id}" name="id">
                                            </div>
                                        </form>
                                        </div>
                                        <div class="progress_status dn wait{$vo.id}" style="display: none" s="false"> 
                                        <form id="waitform{$vo.id}">
                                             <div class="list_body">
                                                
                                                <h3>标记为待定</h3>
                                                <input type="hidden" value="{$vo.id}" name="id">
                                                <input type="button" value="确认" onclick="dowait({$vo.id})"style="font-size: 14px;background-color: #0D9572;color: #fff;width: 60px;height: 28px;float: right;">
                                                
                                            </div>
                                        </form>
                                        </div>
                                    </li>
                                    </foreach>
                                </ul>
                        </dd>
                    </dl>
                </div>
                <div class="content_r">
                    <div class="deliveries_recommend" data-lg-tj-track-code="deliver_guess"
                    data-lg-tj-track-type="1">
                        <div id="position_recommend">
                            <ul class="position_head">
                                <li class="guess_selected">
                                    猜你喜欢
                                </li>
                            </ul>
                            <input type="hidden" value="true" id="hasRecommendPositionList">
                            <div class="similar_content" id="similar_current">
                                <div class="position_detail_content">
                                    <ul class="guess_like reset">
                                        <li class="guess_like_list_item  clearfix" data-positionid="570115">
                                            <a class="position_link clearfix" href="//www.lagou.com/jobs/570115.html"
                                            data-index="4" target="_blank" data-lg-tj-id="gp00" data-lg-tj-no="0005"
                                            data-lg-tj-cid="570115" data-lg-tj-abt="interest_cf|0">
                                                <div class="guess_like_list_item_logo" data-lg-tj-id="1ka0" data-lg-tj-no="0005"
                                                data-lg-tj-cid="570115">
                                                    <img src="__PUBLIC__/picture/cgyxblunodcaqs-7aabn4-9nsoc293.png" alt="明略数据" width="56"
                                                    height="56" />
                                                </div>
                                                <div class="guess_like_list_item_pos">
                                                    <h2 title="html5" data-lg-tj-id="1kb0" data-lg-tj-no="0005" data-lg-tj-cid="570115">
                                                        html5
                                                    </h2>
                                                    <p data-lg-tj-id="1kc0" data-lg-tj-no="0005" data-lg-tj-cid="570115">
                                                        16k-24k
                                                    </p>
                                                    <p class="company_name">
                                                        <span class="company_name_span" data-lg-tj-id="1kd0" data-lg-tj-no="0005"
                                                        data-lg-tj-cid="570115">
                                                            明略数据
                                                        </span>
                                                        <span class="company_position_span" data-lg-tj-id="1ke0" data-lg-tj-no="0005"
                                                        data-lg-tj-cid="570115">
                                                            [北京·东小口]
                                                        </span>
                                                    </p>
                                                </div>
                                            </a>
                                            <!-- 鼠标划过时展示的公司信息 -->
                                            <div class="company_info dn">
                                                <div class="arr">
                                                    <span>
                                                    </span>
                                                </div>
                                                <p>
                                                    <span>
                                                        领域：
                                                    </span>
                                                    <span>
                                                        数据服务
                                                    </span>
                                                </p>
                                                <p>
                                                    <span>
                                                        创始人：
                                                    </span>
                                                    <span>
                                                        冯是聪
                                                    </span>
                                                </p>
                                                <p>
                                                    <span>
                                                        阶段：
                                                    </span>
                                                    <span>
                                                        B轮
                                                    </span>
                                                </p>
                                                <p>
                                                    <span>
                                                        规模：
                                                    </span>
                                                    <span>
                                                        150-500人
                                                    </span>
                                                </p>
                                                <div class="company_label">
                                                    <span>
                                                        技能培训
                                                    </span>
                                                    <span>
                                                        年底双薪
                                                    </span>
                                                    <span>
                                                        节日礼物
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="//www.lagou.com/jobs/mList.html" class="similar_position_footer"
                                    target="_blank" data-lg-tj-id="17a0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">
                                        更多猜你喜欢职位
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--广告位-->
                    <div key="ZHIWEITOUDIXIANGYAOQINGHANSHOUZANGJIADINGYUELAN_ZHIWEITOUDIXIANGYAOQINGHANSHOUZANGJIADINGYUELAN"
                    class="lgad_jsonp" style="margin-top: 20px;">
                    </div>
                </div>
            </div>
            <input type="hidden" value="7242094" name="userid" id="userid" />
            <!-- 用户确认反馈后-添加内容模板 -->
            <ul id="feedback_tem" style="display:none;">
                <li class="top">
                    <div class="list_time">
                        <em>
                        </em>
                        <span>
                        </span>
                    </div>
                    <div class="list_body">
                    </div>
                </li>
            </ul>
            <div style="display:none;">
                <div id="unReceivePop" class="popup" style="overflow:auto;">
                    <p>
                        hr可能通过电话或者邮件的方式通知你面试，你确定没有收到通知吗?
                    </p>
                    <div class="btn_div">
                        <a href="javascript:;" class="unreceive_save">
                            确定
                        </a>
                        <a href="javascript:;" class="unreceive_cancel">
                            取消
                        </a>
                    </div>
                </div>
                <div id="no_receive_communication" class="popup">
                    <p>
                        如果企业没有与你沟通，你可以尝试通过邮件联系HR，或者直接向拉勾反馈。
                    </p>
                    <span class="confirm">
                        是的，没有收到任何渠道的沟通
                    </span>
                    <span class="cancle">
                        再等等看
                    </span>
                </div>
                <div id="no_receive_confirm" class="popup">
                    <p>
                        感谢你的反馈，我们将会在核实后对职位发布者进行惩罚
                    </p>
                </div>
            </div>
        </div>
        <!-- 页面主体END -->
        <!-- footer -->
        <a id="backtop" title="回到顶部" rel="nofollow">
        </a>
        <div id="product-fk">
            <div id="feedback-icon">
                <div class="fb-icon">
                </div>
                <span>
                    我要反馈
                </span>
            </div>
        </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/date/datedropper.min.js"></script>
<script src="__PUBLIC__/date/timedropper.min.js"></script>
<script>
$("#pickdate").dateDropper({
    animate: false,
    format: 'Y-m-d',
    maxYear: '2020'
});
$("#picktime").timeDropper({
    meridians: false,
    format: 'HH:mm',
});

function aaa(id,res){
    $(".no"+id).css("display","none");
    $(".face"+id).css("display","none");
    $(".wait"+id).css("display","none");
    $(".show"+id).css("display","none");
    var display =$('.'+res+id).attr('s');
    if(display == "false"){
    
    $('.'+res+id).css("display","block");
        $('.'+res+id).attr('s',"true");
    }else{
        $('.'+res+id).css("display","none");
        $('.'+res+id).attr('s',"false");

    }
}
function doface(id){

    // alert($(formface).serialize());
//     var date = $("input[name='date']").val();
//     var time = $("input[name='time']").val();
//     var linkman = $("input[name='linkman']").val();
//     var phone = $("input[name='phone']").val();
//     var face_address = $("input[name='face_address']").val();
    // var id = $("input[name = 'id"+id+"]").val();
    // alert(id);
    alert($('#formface'+id).serialize());
// // "date="+date+"time="+time+"linkman"+linkman+"phone="+phone+"face_address"+face_address
//     // alert(date+time+linkman+phone+face_address);
// {date:date,time:time,linkman:linkman,phone:phone,face_address:face_address,id:id}
     $.ajax({
            type:'post',             //请求方式GET
            url :'__URL__/dooperation',           //ajax请求地址
            data:$('#formface'+id).serialize(), //请求传递的参数
            dataType:'json',        //预期服务器返回的数据类型
            async : true,           //是否异步
            success: function(data){
                // alert(data);
                // if(data == "2"){
                //     alert("已经发送过面试邀请");
                // }
                if(data=="1"){
                    alert(1);
                    // $(".d_resume").hide();
                    alert("面试邀请发送成功！");

                }
            },  //ajax成功后的回调函数
            error : function(){
                alert("ajax请求失败！");
            }   //ajax失败后的回调函数
            });
}

function dono(id){
        // var reason = $("textarea[name='no']").val();
        // var id = $("input[name = did]").val();
        // alert(reason);
        $.ajax({
            type:'post',             //请求方式GET
            url :'__URL__/no',           //ajax请求地址
            data:$('#noform'+id).serialize(), //请求传递的参数
            dataType:'json',        //预期服务器返回的数据类型
            async : true,           //是否异步
            success: function(data){
                // alert(data);
                if(data=="1"){
                    // alert(1);
                    // $(".d_resume").hide();
                    alert("不合适发送成功");

                }
            },  //ajax成功后的回调函数
            error : function(){
                alert("ajax请求失败！");
            }   //ajax失败后的回调函数
            });
    }
function dowait(id){
    // var id = $("input[name = did]").val();
     $.ajax({
            type:'post',             //请求方式GET
            url :'__URL__/wait',           //ajax请求地址
            data:{id:id}, //请求传递的参数
            dataType:'json',        //预期服务器返回的数据类型
            async : true,           //是否异步
            success: function(data){
                // alert(data);
                if(data=="1"){
                    // alert(1);
                    // $(".d_resume").hide();
                    alert("待定");

                }
            },  //ajax成功后的回调函数
            error : function(){
                alert("ajax请求失败！");
            }   //ajax失败后的回调函数
            });

}
</script>
</block>